version: '3.6'
services:
  mariadb:
    # official mariadb does not support arm7
    image: linuxserver/mariadb:latest
    container_name: mariadb
    restart: always
    environment:
      MYSQL_DATABASE: 'homeassistant'
      MYSQL_USER: '{{ mysql_user }}'
      MYSQL_PASSWORD: '{{ mysql_pass }}'
      MYSQL_ROOT_PASSWORD: '{{ mysql_root_pass }}'
      TZ: Europe/Warsaw
    ports:
      - '3306:3306'
#    expose:
#      - '3306'
    volumes:
#      - {{ ha_docker_dir }}/mariadb/data:/var/lib/mysql
      - {{ ha_docker_dir }}/mariadb/data:/config
      - {{ ha_docker_dir }}/mariadb/run:/var/run/mysqld/

  influxdb:
    image: influxdb:latest
    container_name: influxdb
    restart: always
    ports:
      - "8083:8083"
      - "8086:8086"
      - "8090:8090"
    environment:
#      INFLUXDB_DATA_ENGINE: 'tsm1'
      INFLUXDB_REPORTING_DISABLED: 'false'
      INFLUXDB_DB: '{{ influx_db }}'
      INFLUXDB_ADMIN_USER: 'admin'
      INFLUXDB_ADMIN_PASSWORD: '{{ influx_admin_pass }}'
      INFLUXDB_USER: 'homeassistant'
      INFLUXDB_USER_PASSWORD: '{{ influx_password }}'
    volumes:
      - {{ ha_docker_dir }}/influxdb/data:/var/lib/influxdb
  
#  grafana:
#    image: grafana/grafana:latest
#    container_name: grafana
#    restart: always
#    ports:
#      - "3000:3000"
##    environment:
##      GF_INSTALL_PLUGINS: grafana-clock-panel,briangann-gauge-panel,natel-plotly-panel,grafana-simple-json-datasource
#    links:
#      - influxdb
#    volumes:
#      - {{ ha_docker_dir }}/grafana/data:/var/lib/grafana

  mosquitto:
    image: eclipse-mosquitto
    hostname: mosquitto
    container_name: mosquitto
    expose:
      - "1883"
      - "9001"
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - {{ ha_docker_dir }}/mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - {{ ha_docker_dir }}/mosquitto/data:/mosquitto/data
      - {{ ha_docker_dir }}/mosquitto/log:/mosquitto/log
#    networks:
#      - default

  homeassistant:
    container_name: home-assistant
    image: homeassistant/home-assistant:latest
    restart: always
    devices:
      - /dev/i2c-1
    ports:
      - "8123:8123"
    depends_on:
      - mariadb
      - influxdb
      - mosquitto
    volumes:
      - {{ ha_docker_dir }}/homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
      - {{ ha_docker_dir }}/mariadb/run:/run/mysqld/
#      - {{ ha_docker_dir }}/mariadb/:/var/run/mysqld/mysqld.pid
#      - /var/run/mysqld/mysqld.sock:/var/run/mysqld/mysqld.sock
    restart: always
    network_mode: host

  rtl433-mqtt-gateway:
    container_name: rtl433-mqtt-gateway
    image: kpucynski/rtl433-mqtt-gateway:latest-armhf
    restart: always
    depends_on:
      - homeassistant
    environment:
      MQTT_USER: "homeassistant"
      MQTT_PASS: "{{ http_password }}"
      MQTT_HOST: "localhost"
      MQTT_PORT: 1883
      MQTT_TOPIC: "sensors/rtl_433"
      MQTT_QOS: 0
      RTL_OPTS: "-d 1 -f 868200000"
      DEBUG: "False"
    devices:
      - /dev/bus/usb
    privileged: true
    network_mode: host

