# {{ ansible_managed }}
http_password: {{ http_password }}
mysql_url: mysql://{{ mysql_user }}:{{ mysql_pass }}@localhost/{{ mysql_db }}?charset=utf8
influx_password: {{ influx_password }}

dyson_user: {{ dyson_user }}
dyson_pass: {{ dyson_pass }}

openweathermap_api_key: {{ openweathermap_api_key }}

nvr_api_key: {{ nvr_api_key }}
nvr_password: {{ nvr_password }}

